[Unit]
Description=NDI Recorder
After=network-online.target

[Service]
User=root
ExecStart=/opt/ndi_recorder/bin/ndi_recorder -p /media/root/primary/
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
